<div class="company_logo">
<h1>Inewsit</h1>
</div>

<div class="categorie">
  <h1>categorie list</h1>
  <% if @products.any? %>
  <ul>
    <% @products.each do |product| %>
  <li><%= link_to product.name, product_path(product) %></li
    <% end %>
</ul>
<% else %>
<p>There are no products yet.</p>
<% end %>
</div>
 <div class="search">

</div>


<div class="product_wheel">
  <%= form_for @product_selection do |f| %>
  <%= f.collection_select(:product_id, @products, :id, :name)%>
  <%= f.submit  %>
  <% end %>
</div>
<div class="add_product">
<p><%= link_to "New Product", new_product_path %></p>
</div>
<div class="made_in_america">
   <ul>
    list of products made in usa
  </ul>
</div>
<div class="most_reviews">
<h3>Our Most Popular Items</h3>
<ul>
pictures of most popular items
</ul>

</div>
<%= render "layouts/company_info" %>
