<div class="company_logo">
<h1></h1>
</div>
products within a categorie

<div class="title">
  <h1>Browse our products</h1>
</div>
<div class="product_pictures">
  three columns of pictures< link
    <div class="product picture">
      also link to show page
    </div>

</div>
<div class="product_wheel">
  <%= form_for @products do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.collection_select(:product_id, @products, :id, :name)%>
  <%= f.submit  %>
  <% end %>
</div>
