
<%= render "layouts/company_logo" %>
<h3><%= @product_selection %></h3>
<%= image_tag href = 'https://picsum.photos/seed/picsum/200' %>
<p>Glossier pork belly pabst ramps actually photo booth typewriter disrupt asymmetrical artisan brooklyn poutine. Meditation readymade heirloom keytar, austin unicorn coloring book tousled. Freegan gentrify narwhal gochujang hashtag brunch tilde glossier affogato mustache 90's VHS. Enamel pin keytar bespoke, jean shorts taxidermy man braid 3 wolf moon pinterest freegan ugh messenger bag hoodie cray.</p>

<p>Oh. You need a little dummy text for your mockup? How quaint.</p>

<p>I bet you’re still using Bootstrap too…</p>

<p><%= link_to "Edit", edit_product_path(@product) %></p>
<p><%= link_to "Delete", product_path(@product),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></p>

<p><%= link_to "Return to products", products_path %></p>
<p><%= link_to "Add a Review", new_product_review_path(@product, @review) %></p>

<div class="product_wheel">
  <%= form_tag(product_path(@product)) do %>
  <%= label_tag("Browse:") %>
  <%= collection_select(:product, :product_id, @products, :id, :name)%>
  <%= submit_tag("Browse")  %>
  <% end %>
</div>
<% form_tag(search_path, :method => "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>
<%= render "layouts/company_info" %>
