
<%= render "layouts/company_logo" %>

products within a categorie
<p><%= link_to "Edit", edit_product_path(@product) %></p>
<p><%= link_to "Delete", product_path(@product),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></p>

<p><%= link_to "Return to products", products_path %></p>
<div class="title">
  <h1>Browse our products</h1>
</div>
<div class="product_pictures">
  three columns of pictures< link
    <div class="product picture">
      also link to show page
    </div>

</div>
<div class="product_wheel">
  <%= form_for @product_selection do |f| %>
  <%= f.collection_select(:product_id, @products, :id, :name)%>
  <%= f.submit  %>
  <% end %>
</div>
<%= render "layouts/company_info" %>
